.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Overpass', sans-serif;
    background-color: #D47271;
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }

  .link:hover{
    color: #ffffff;
  }
  
  .navbar-links li {
    margin: 0 15px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar-logo {
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }

  