:root {
  padding-top: 60px;
  font-family: 'Faculty Glyphics', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #D47271;
  background-color: rgb(255, 240, 246);

  background-image: url('/images/background.png');
  background-size: contain;
  background-position: center; 
  background-repeat: repeat; 
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.overpass-regular {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h2 h3 h4 h5 h6 {
  font-family: 'Overpass', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Overpass', sans-serif;
  background-color: #D47271;
  cursor: pointer;
  transition: border-color 0.25s;
}

.post-link{
  background-color: #d2adad;
}

button:hover {
  border-color: #482020;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #D47271;
  color: #482020;
  border-color: #482020;
  cursor: pointer;
  transition:  all 0.3s ease;
}

#editBtn {
  margin-right: 20px;
}

.postBtns{
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #482020;
  color:aliceblue;
}

.post-detail{
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-section{
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.input-box{
  font-family: 'Overpass', sans-serif;
  text-align: left;
  vertical-align: top;
  white-space: normal;
  overflow: auto;
  padding: 0.5em;
  border: solid 3px;
  border-radius: 8px;
  border-color: #D47271;

}
#title {
  font-size: 2em;
  font-weight: 500;
  font-family: 'Overpass', sans-serif;
  
}

#content {
  vertical-align: top;
  height: 200px;
  font-size: 1em;
  width: 400px;
}

#image_url {
  vertical-align: top;
  width: 400px;
  height: 50px;
}

.rightBtn{
  margin-right: 20px;
}